body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    text-align: center;
  }
  .search-box {
    height: 50px;
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
  }
  .textbox {
    width: 500px;
    height: 44px;
    border: 3px solid;
    outline: none;
    font-size: 1em;
    padding: 0;
  }
  .search-button {
    width: 50px;
    height: 100%;
  }
  .button2 {
    position: relative;
    float: right;
    bottom: 130px;
    right: 10px;
  }